
body {
	padding: 1rem;
}


.app {
	max-width: 666px;
	margin: 1rem auto;
}

.input--allowed-tags {
	min-height: 10rem;
}

.htmlInput, .htmlOutput {
	min-height: 20rem;
	max-height: 50vh;
}

.htmlInput {
	font-family: monospace;
}

.link {
	margin: 2rem 0;
	text-align: center;
	white-space: pre-line;
}
